{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=ChatbotApp;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False",
    "RasaTracker": "Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=RasaTracker;Integrated Security=True;Connect Timeout=30;Encrypt=False;Application Intent=ReadOnly"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "RasaSettings": {
    "BaseUrl": "http://localhost:5005",
    "AuthToken": "REPLACE_WITH_RASA_AUTH_TOKEN"
  },
  "InternalApi": {
    "ApiKey": "REPLACE_WITH_INTERNAL_API_KEY"
  },
  "UserToken": {
    "PrivateKeyPem": "REPLACE_WITH_EC_P256_PRIVATE_KEY_PEM"
  }
}
